---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.jsx'
import Footer from '../components/Footer.jsx'
type Props = CollectionEntry<'blog'>['data']
const { title, description, pubDate, updatedDate, heroImage, tags, language } =
  Astro.props
---

<html lang={language}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header client:load currentLocale={language} />
    <main class='container mx-auto px-4 pt-8 pb-12'>
      <article>
        <div>
          {
            heroImage && (
              <img
                src={heroImage}
                alt=''
                class='rounded-xl h-[250px] md:h-auto w-full md:w-4/5 mx-auto object-contain my-8'
              />
            )
          }
        </div>
        <div class='my-6 image-container'>
          <div class='text-2xl mt-12'>
            <h1>{title}</h1>
            <div class='text-xl'></div>
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer client:load currentLocale={language} />
  </body>
</html>
