---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.jsx'
import Footer from '../components/Footer.jsx'
import { formatBlogDate } from '../utils/dateUtils'
const currentLocale = Astro.currentLocale
type Props = CollectionEntry<'blog'>['data']
const { title, description, pubDate, updatedDate, heroImage, tags } =
  Astro.props
---

<html lang={currentLocale}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header client:load currentLocale={currentLocale} />
    <main class='container mx-auto px-4 pt-8 pb-12'>
      <article>
        <div>
          {
            heroImage && (
              <img
                src={heroImage}
                alt=''
                class='rounded-xl h-[400px] md:h-[500px] w-full object-cover'
              />
            )
          }
        </div>
        <div class='my-6'>
          <div class='text-2xl mb-12'>
            <h1>{title}</h1>
            <div class='text-xl'>
              <p>{formatBlogDate(pubDate)}</p>
              {
                updatedDate && (
                  <div>Last updated on {formatBlogDate(updatedDate)}</div>
                )
              }
            </div>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <Footer client:load currentLocale={currentLocale} />
  </body>
</html>
